@import "custom";

body {
  margin: 12px 20px;
}

.container {
    width: 100%;
    max-width: 1540px;
    padding: 0 15px;
    margin: auto;
    overflow: hidden;
}

textarea {
  font-family: monospace;
  max-width:876px;
  width:100%;
}

.panel {
  border-width: 1px 1px 1px 1px;
  border-color: grey;
  border-style: dotted;
  padding: 0 8px;
  font-size:160%;
  p {
    margin-bottom: 0.2rem;
    color: #BDBDBD;
  }
}

#symmetrickey > p > .length {
  font-size: 60%;
}

.panel-left {
  float: left;
  width: 580px;
  min-height: 720px;
  margin: 2px 0;
}

.panel-center {
  float: left;
  width: 114px;
  margin: 2px 0;
  border-width: 0;
  > button {
    margin-top: 14px;
    width: 118px;
  }
  > select {
    width: 118px;
  }
  > select:not(:first-child) {
    margin-top: 14px;
  }
}

.panel-right {
  min-width: 426px;
  margin-left: 716px;
}

.plaintextvalue {
  max-width: 1024px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 4px;
  margin: 0 0 8px 0;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: 0.8rem;

  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}


#symmetrickey {
  > input {
    width: 100%;
    padding-left: 6px;
    font-family: monospace;
  }
  > div {
    margin-left: 32px;
    span {
      color: #BDBDBD;
      font-size: 80%;
      width: 140px;
      display: inline-block;
    }
    input {
      margin-left: 8px;
      padding-left: 6px;
      width: 440px;
      font-family: monospace;
    }
    select {
      margin-left: 8px;
      width: 180px;
      display: inline-block;
    }
  }
}

#ta_privatekey, #ta_publickey {
    font-size: 0.8rem;
    max-height: 232px;
}

.banner > .alert {
  margin: 0;
  z-index: 10;
}

.btn-copy, .btn-newkey {
  padding: 2px 6px;
  margin: 0 4px;
  float: right;
  top: 8px;
  position: relative;
}

.banner, .footer {
  border: 1px dotted grey;
}

.banner {
  margin-bottom:24px;
  background-color: #DFDDDD;
  height: 120px;
}

.footer {
  margin-top:24px;
  background-color: #ECECEC;
  padding: 0 4px;
  min-height: 120px;
}

.banner > h2, .banner > div {
  margin: 0;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.banner > h2, .footer > h2 {
  top: 46px;
}

.banner > div {
  top: 96px;
}

.banner > div#buildversion {
  top: 100px;
  left: 0%;
  position: relative;
  margin-right: 6px;
  transform: none;
  text-align: right;
  font-size: 75%;
  font-style: italic;
}

.alert.fade {
  opacity: 0;
  transition: opacity .85s linear;
}

.copy-to-clipboard-flash-bg {
    animation-name: flashbg;
    animation-timing-function: ease-out;
    animation-duration: 1s;
}

@keyframes flashbg {
    0% {
        background: #539EDB;
    }
    100% {
        background: transparent;
    }
}

.outdated {
  background-color: #DCDCDC;
}

#symmetrickey input[disabled] {
    color: #636C77;
    background-color: #E9ECEF;
}
