@import "custom";
$grey: #808080;
$lightgrey: #BDBDBD;

body {
  margin: 12px 20px;
}

.container {
  margin: auto;
  max-width: 1540px;
  overflow: hidden;
  padding: 0 15px;
  width: 100%;
}

textarea {
  font-family: monospace;
  max-width: 876px;
  width: 100%;
}

.panel {
  border-color: $grey;
  border-style: dotted;
  border-width: 1px;
  font-size: 160%;
  padding: 0 8px;

  p {
    color: $lightgrey;
    margin-bottom: .2rem;
  }
}

#symmetrickey > p > .length {
  font-size: 60%;
}

.panel-left {
  float: left;
  margin: 2px 0;
  min-height: 720px;
  width: 580px;
}

.panel-center {
  border-width: 0;
  float: left;
  margin: 2px 0;
  width: 114px;

  > button {
    margin-top: 14px;
    width: 118px;
  }

  > select {
    width: 118px;
  }

  > select:not(:first-child) {
    margin-top: 14px;
  }
}

.panel-right {
  margin-left: 716px;
  min-width: 426px;
}

.plaintextvalue {
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  font-size: .8rem;
  margin: 0 0 8px;
  max-width: 1024px;
  padding: 4px;

  /* all below, to handle really long JWTs */
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  white-space: -webkit-pre-wrap; /* Newer versions of Chrome/Safari*/
  word-break: break-all;
  white-space: normal;
}


#symmetrickey {

  > input {
    font-family: monospace;
    padding-left: 6px;
    width: 100%;
  }

  > div {
    margin-left: 32px;

    span {
      color: $lightgrey;
      display: inline-block;
      font-size: 80%;
      width: 140px;
    }
    input {
      font-family: monospace;
      margin-left: 8px;
      padding-left: 6px;
      width: 440px;
    }
    select {
      display: inline-block;
      margin-left: 8px;
      width: 180px;
    }
  }
}

#ta_privatekey, #ta_publickey {
  font-size: .8rem;
  max-height: 232px;
}

.banner > .alert {
  margin: 0;
  z-index: 10;
}

.btn-copy, .btn-newkey {
  float: right;
  margin: 0 4px;
  padding: 2px 6px;
  position: relative;
  top: 8px;
}

.banner, .footer {
  border: 1px dotted $grey;
}

.banner {
  background-color: #DFDDDD;
  height: 120px;
  margin-bottom: 24px;
}

.footer {
  background-color: #ECECEC;
  margin-top: 24px;
  min-height: 120px;
  padding: 0 4px;
}

.banner > h2, .banner > div {
  left: 50%;
  margin: 0;
  margin-right: -50%;
  position: absolute;
  transform: translate(-50%, -50%)
}

.banner > h2, .footer > h2 {
  top: 46px;
}

.banner > div {
  top: 96px;
}

.banner > div#buildversion {
  font-size: 75%;
  font-style: italic;
  left: 0%;
  margin-right: 6px;
  position: relative;
  text-align: right;
  top: 100px;
  transform: none;
}

.alert.fade {
  opacity: 0;
  transition: opacity .85s linear;
}

.copy-to-clipboard-flash-bg {
  animation-duration: 1s;
  animation-name: flashbg;
  animation-timing-function: ease-out;
}

@keyframes flashbg {
  0% {
    background: #539EDB;
  }
  100% {
    background: transparent;
  }
}

.outdated {
  background-color: #DCDCDC;
}

#symmetrickey input[disabled] {
  color: #636C77;
  background-color: #E9ECEF;
}
